
/*
.carousel-item {
}
*/
.p-5.border {
    font-size: 1.25rem;
}
footer {
    background-color: rgb(84, 110, 122);
    height:15rem;
}
header {
    height: 35px;
}
.btn-button1 {
    background-color: rgb(84, 110, 122);
    color:rgb(235, 233, 233);
    border: 2px solid rgb(235, 233, 233);
}
.btn-button2 {
    background-color: rgb(84, 110, 122);
    color:rgb(235, 233, 233);
    border: 2px solid rgb(235, 233, 233);
}